docker-compose.yaml
venv
.venv
src/pywhispercpp
models/
__pycache__/
*.pyc
*.dll
*.lib
*.pyd
*.pyo
*.so
*.dylib
*.egg-info
*.egg
dist
build
*.log
*.bak
*.tmp
*.swp
*.swo
*.DS_Store
.vscode
.idea
selfsigned.*
*.txt
!README.txt
!requirements.txt
!requirements-*.txt
*.mp3
*.wav
*.json
*.onnx
